.git
.github
.venv
venv
__pycache__
.pytest_cache
.ipynb_checkpoints
.vscode

creditcard.csv
creditcard_sample.csv

mlruns
mlflow.db
fraud_predictions.db

model_output
model_output_v2
pipeline_output
pipeline_output_v2

notebooks
tests
docs

*.pyc
*.pyo
*.pyd
*.log
.DS_Store
Thumbs.db
